input, button {
  border:none;
}

.loginBtn {
  display: block;
  left: 50%;
  margin-left: -100px;
  position: absolute;

  .g-signin2 {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}
