.buttonTags {
  display: grid;
  grid-auto-flow: row;
  grid: auto / 1fr 1fr;
  justify-items: stretch;
}

.buttonTags > button {
  display: block;
  margin: 0px 5px 10px 5px;
  text-align: center;
  position: relative;
  text-decoration: none;
  filter: brightness(80%);
  border: medium solid white;
  transition: transform 0.2s;
  font-size: 20px;
  font-family: general, Helvetica, sans-serif;

  &:hover {
    transform: scale(1.05);
    border: solid dimgrey;
    border-bottom: solid dimgrey 5px;
  }

  &:active {
    border-style: inset;
  }
}
