.list {
  color: #444;
  background-color: silver;
  font-size: 30px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > li {
    border-bottom: 1px solid white;
  }

  & > a {
    transition: transform 0.2s;
    color: black;
  }

  a:hover {
  transform: scale(1.05);
  color: blue;
  border: solid dimgrey;
  border-bottom: solid dimgrey 5px;
  }
}

.listRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.showData {
  grid-column: 1 / 2;
}

.deleteShowButton {
  grid-column: 2 / 3;
  justify-self: end;
}
