.formContainer {
  & > h1 {
    margin: 10px 0 0 0;
  }
}

.addShowForm {
  display: grid;
  grid: none;
}

.nameInput {
  grid-row: 1 / 2;

  width: 90%;
  height: 35px;
  font-size: 18px;
  padding: 2px 0px 2px 12px;
  margin: 0px 0px 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.urlInput {
  grid-row: 2 / 3;

  width: 90%;
  height: 35px;
  font-size: 18px;
  padding: 2px 0px 2px 12px;
  margin: 0px 0px 5px 5px;
  border-radius: 5px;
}

.formTagsHeading {
  grid-row: 3 / 4;

  margin: 10px 0 0 0;
}

.formTags {
  grid-row: 4 / 5;
}

.customTagsInput {
  grid-row: 5 / 6;


  width: 90%;
  height: 35px;
  font-size: 18px;
  padding: 2px 0px 2px 12px;
  margin: 5px 0px 5px 5px;
  border-radius: 5px;
}

.formButtons {
  display: grid;
  grid: auto / 1fr 1fr;
  grid-row: 6 / 7;

  & > button {
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    transition: transform 0.2s;
    font-size: 16px;
    font-family: general, Helvetica, sans-serif;

    &:hover {
      color: white;
      background-color: silver;
      border: solid dimgrey;
      border-bottom: solid dimgrey 5px;
    }

    &:active {
      background-color: #686868;
      color: #fff;
      border-style: inset;
    }
  }
}

.addToWatchlist {
  grid-column: 1 / 2;
}

.addToWatched {
  grid-column: 2 / 3;
}
